$dyellow: #ffcc00;

@font-face {
  font-family: "Circular Std Book";
  src: url(../fonts/Circular-Std-Book.ttf);
  font-style: normal;
}

.main-view {
  background-image: linear-gradient(
    180deg,
    #ffcc0026 0%,
    #ffffff1a 80%
  ) !important;
  min-height: 100vh;
  padding-top: 45px;
}
.header {
  display: flex;
  align-items: center;
  .navbar-brand {
    font-family: "Circular Std Book";
    font-size: 30px;
    color: #000000;
    #logo-accent {
      color: $dyellow;
    }
  }

  .nav-link {
    padding: 0 2em 0 2em !important;

    font-family: "Circular Std Book" !important;
    font-size: 16px;
    text-decoration: none;
    color: #23232273;
  }
  #active {
    color: #232322 !important;
  }

  .download {
    font-family: "Barlow";
    color: #232322 !important;
    font-weight: 500;
    margin: 0 0 0 1.5em;
    text-decoration: none;
    background-color: $dyellow;
    padding: 16px 48px 16px 48px !important;
    border-radius: 60px;
  }
}

#banner-text {
  margin-top: 130px;
  #banner-title {
    font-family: "Barlow" !important;
    font-weight: 800;
    font-size: 67px;
    margin-bottom: 30px;
  }

  #banner-subtitle {
    font-family: "Barlow" !important;
    font-size: 18px;
    font-weight: 500;
  }

  .learn-button {
    margin-top: 55px !important;
    #learn {
      font-family: "Poppins" !important;
      font-size: 16px;
      color: #232322;
      text-decoration: none;
      background-color: $dyellow;
      padding: 16px 48px 16px 48px !important;
      border-radius: 60px;
    }
  }
}

#banner-image {
  padding-top: 45px;
  overflow: hidden;
  #bg-circle-outline {
    height: 555px;
    width: 555px;
    border: 2px solid #ffcc0073;
    border-radius: 100%;
    position: relative;
    left: 100px;
    z-index: 1;
  }
  #sm-circle-outline {
    height: 481px;
    width: 481px;
    border: 2px solid #ffcc0073;
    border-radius: 100%;
    position: absolute;
    left: 151px;
    top: 81px;
    z-index: 2;
  }
  #circle-filled {
    background-color: $dyellow;
    height: 425px;
    width: 425px;
    border-radius: 100%;
    position: absolute;
    left: 179px;
    top: 108px;
    z-index: 3;
  }
  #burger-image {
    height: 418px;
    width: 416px;
    position: absolute;
    left: 50px;
    top: 43px;
    z-index: 4;
  }
  #chili {
    position: absolute;
    left: 90px;
    top: 200px;
    z-index: -1;
  }
  #lettuce {
    position: absolute;
    left: 572px;
    top: 110px;
    z-index: -1;
  }
  #bellpepper {
    position: absolute;
    left: 150px;
    top: 480px;
    z-index: -1;
  }
  #tomato {
    position: absolute;
    left: 534px;
    top: 480px;
    z-index: -1;
  }
}

.feat-categories {
  #category-name {
    font-family: "Barlow";
    font-weight: 700;
  }
  #category-price {
    font-family: "Barlow";
    font-weight: 600;
    margin-bottom: 1.5em !important;
  }

  #buy-now {
    background-color: $dyellow;
    padding: 1em;
    border-radius: 4px;
  }
}

.price-item-col {
  width: 100vw;
  margin-top: 45px;
}

#fries {
  position: absolute;
  top: -100px;
  left: -220px;
  z-index: -1;
}

.price-card {
  background-color: #fefefe;
  box-shadow: 2px 10px 40px #0000001a;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 45px;
  margin-top: 25px;
  margin-left: 10px;
  align-items: center;
  margin-right: 1em;

  #hamburger-card-icon {
    padding: 0.5em;

    #hamburger-icon-sm {
      height: 60px;
      width: 60px;
      position: relative;
      left: 3px;
      z-index: 2;
      object-fit: contain;
    }

    #sm-circle-filled {
      background-color: $dyellow;
      height: 66px;
      width: 66px;
      border-radius: 100%;
      position: absolute;
      top: 45px;
      z-index: 1;
    }
  }

  #card-text {
    padding: 0 0.3em 0 1em;

    #card-item {
      font-family: "Barlow" !important;
      font-size: 16px !important;
      font-weight: 700 !important;
    }
  }
}

.top-triangle {
  background: linear-gradient(to left bottom, #ffffff1a 50%, #ffcc0013 50%);
  height: 50vh;
  position: relative;
  top: -95px;
  margin-bottom: -95px;
  z-index: -999;
}
#promotion {
  background-color: #ffcc0013;
  padding-bottom: 250px;
  #circle-filled {
    background-color: $dyellow;
    height: 503px;
    width: 503px;
    border-radius: 100%;
    position: absolute;
    left: 125px;
    top: -160px;
    z-index: 3;
  }
  #burger-image {
    height: 228px;
    width: 473px;
    position: absolute;
    left: 263px;
    top: -150px;
    z-index: 4;
  }

  #promo-text {
    top: -95px;
    position: absolute;

    h2 {
      font-family: "Barlow";
      font-size: 58px;
      font-weight: 700;
      margin-bottom: 0.5em;
    }
    h4 {
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 300;
      color: #141414b3;
      padding-bottom: 1em;
    }
    #learn-button {
      margin-top: 55px !important;
      #learn {
        font-family: "Poppins" !important;
        font-size: 16px;
        color: #232322;
        text-decoration: none;
        background-color: $dyellow;
        padding: 16px 48px 16px 48px !important;
        border-radius: 60px;
      }
    }
  }
}

#promotion-add {
  background-color: #ffcc0013;
  overflow: hidden;

  img {
    position: relative;
    right: -135px;
  }
}

.feat-categories {
  background-color: #ffcc0013;
  padding-bottom: 75px;

  .category-title {
    font-family: "Barlow";
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 175px;
  }

  #buy-now {
    font-style: "Barlow";
    font-size: 16px;
    font-weight: 700;
    color: #141414f2;
    width: 100%;
    display: block;
  }

  .category-card {
    background-color: #fefefe;
    padding: 0em 2em 2em 2em;
    height: 26.5em;
    #md-circle-filled {
      margin: auto;
      border-radius: 100%;
      background-color: $dyellow;
      height: 248px;
      width: 248px;
      position: relative;
      margin-bottom: -55px;
      top: -100px;
    }

    #md-item-icon {
      position: relative;
      margin-bottom: -263px;
      top: -290px;
    }

    #md-item-icon2 {
      position: relative;
      margin-bottom: -220px;
      top: -260px;
    }

    #md-item-icon3 {
      position: relative;
      margin-bottom: -183px;
      top: -250px;
    }
  }
}

.extra-section {
  background-color: #ffcc0013;

  #mint {
    height: 252px;
    width: 313px;
    position: relative;
    left: -122px;
  }
}

#testimonial {
  background-color: #ffcc0013;
  overflow: hidden;

  .testimonial-image-section {
    #testimonial-circle {
      height: 444px;
      width: 444px;
      background-color: $dyellow;
      border-radius: 100%;
      left: 100px;
      position: relative;
    }

    #testimonial-image {
      height: 449px;
      width: 320px;
      left: 150px;
      position: relative;
      top: -450px;
      margin-bottom: -450px;
    }
  }
}

#call_to_action {
  padding: 100px 0 100px 0;
  background-color: #ffcc0013;
  text-align: center;

  .cta_banner {
    background-color: $dyellow;
    padding: 87px 0px;

    .cta_button {
      margin: 0 12.5px 0 12.5px;
    }
  }
}

.footer {
  padding-top: 45px;
  display: grid;
  background-color: #ffcc0013;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "a b b c d e f g h i";
  padding-bottom: 36px;

  .link {
    h4 {
      font-family: "Barlow";
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 1em;
    }

    h5 {
      font-family: "Barlow";
      font-size: 18px;
      margin-bottom: 1em;
      font-weight: 300;
    }
  }

  .footer-brand {
    h4 {
      font-family: "Barlow";
      font-size: 30px;
      font-weight: 600;

      span {
        color: $dyellow !important;
      }
    }
    h5 {
      font-family: "Barlow";
      font-size: 14px;
      font-weight: 300;
    }
  }

  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .e {
    grid-area: e;
  }
  .f {
    grid-area: f;
  }
  .g {
    grid-area: g;
  }
  .h {
    grid-area: h;
  }
  .i {
    grid-area: i;
  }
}

.footer-section-sample {
  background-color: #ffcc0013 !important;
}

#footer-sub {
  background-color: #ffcc0013 !important;
  grid-template-columns: repeat(10, 1fr) !important;
  display: grid !important;
  grid-template-areas: "j k k k k k k k k" !important;

  #j {
    grid-area: j !important;
  }

  #k {
    grid-area: k !important;
  }
}

#footer-sub-two {
  background-color: #ffcc0013 !important;
  grid-template-columns: repeat(10, 1fr) !important;
  display: grid !important;
  grid-template-areas: "j k k k k k k k k" !important;

  #j {
    grid-area: j !important;
  }

  #k {
    grid-area: k !important;
  }
}

@media screen and (max-width: 1023px) {
  .main-view {
    padding-top: 0px !important;
  }

  #banner-title {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 536px) {
  .main-view {
    padding-top: 0px !important;

    #banner-text {
      margin-top: 200px;
      padding-left: 2em;
      padding-right: 2em;
      margin-left: 0;
      text-align: center;
      padding: auto !important;
      z-index: 1;
    }

    #banner-image {
      top: -450px;
      opacity: 40%;
      margin-bottom: -500px;
      z-index: 0;
      overflow: visible;
    }
  }

  #banner-title {
    font-size: 40px !important;
    margin: 0.2em !important;
  }

  #banner-subtitle {
    margin-bottom: 0;
  }

  .promotion-image {
    display: none;
  }

  #promo-text {
    padding-left: 8%;
    padding-right: 8%;
    h2 {
      font-size: 35px !important;
      //   margin: 0 8%;
    }

    h4 {
      margin: 0;
      padding: 0 !important;
      display: inline;
    }
  }

  #promotion {
    padding-bottom: 50%;
  }

  #promotion-add {
    margin-top: 0;
  }

  .category-title {
    padding-top: 25% !important;
  }
}
